.rst-content table.field-list td {
  /* Prevent smaller font size in Parameter lists */
  font-size: 100%;
}

.wy-nav-content {
  /* Increase content width */
  max-width: 960px !important;
}

/* Format autosummary table */
.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal;
  vertical-align: top !important;
}
