future ~= 0.16; python_version < '3'
gdal ~= 2.2
lmfit ~= 0.9
lxml ~= 4.2
matplotlib ~= 2.2
numpy ~= 1.14
opencv-contrib-python ~= 3.3
pandas ~= 0.22
piexif ~= 1.0
Pillow ~= 5.0.0
pyproj ~= 1.9
scikit-learn ~= 0.19
scipy ~= 1.0
sharedmem ~= 0.3

One way of collecting these requirements is by setting up a conda environment: requisite commands are as follows.
% The following sets up a 

conda create --name glimpse

conda activate glimpse

conda config --env --add channels damianavila82
conda config --env --add channels conda-forge
conda config --env --add channels bioconda

conda install ipython pip numpy scipy future gdal lmfit lxml matplotlib numpy opencv pandas piexif pillow pyproj scikit-learn scipy sharedmem

pip install shapely
pip install progress
pip install opencv-contrib-python==3.4.2.16

